@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap');
*, body {
  font-family: 'Cirka', sans-serif;
  src: url('/fonts/Cirka-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  box-sizing: border-box;
}